{%extends 'base.html'%}
{% block body %}
<style>
    p{
        text-align: center;
        text-size:200px;
    }
    body{
       
        background-position:centre;
        background-image:repeat;
        size:300px;
        background-color:yellow;
    }
    
   img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
    }
    
</style>
  <p>Welcome to TickTech</p>
<body>
     <img src="static/tick4.jpg" class="img-fluid" alt="1200*300">
     
</body>
</br>
<a href="/logout"> logout </a>
{%endblock body%}


