{% extends 'base.html' %}
{% block body %}
<h1> Welcome to our services </h1>
</br>
<h2> Mobile phones</h2>
<img src="static/tick1.jpg" class="img-fluid" alt="300*400">
</br>
<h2>Chargers</h2>
<img src="static/tick2.jpg" class="img-fluid" alt="300*400">
</br>
<h2>Mobile templates</h2>
<img src="static/tick3.jpg" class="img-fluid" alt="300*400">
</br>
  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; 2022 TickTech Company, Inc. &middot; <a href="#">Privacy</a> &middot; </p>
  </footer>



    

      
  </body>
</html>
<a href="/logout">logout</a>
{% endblock body %}